@font-face{
    font-family:F1d3d8;
    src:url(//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.eot);
    src:local(FZLanTingHeiS-UL-GB),
    url(//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.eot?#iefix) format("embedded-opentype"),
    url(//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.woff) format("woff"),
    url(//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.ttf) format("truetype"),
    url(//i1.mifile.cn/b2c-fe-huodong/f/1d3d8f74ef887e.svg) format("svg")
}

@font-face{
    font-family:test;
    src:url(./1d3d8f74ef887e.eot);
    src:local(FZLanTingHeiS-UL-GB),
    url(./1d3d8f74ef887e.eot?#iefix) format("embedded-opentype"),
    url(./1d3d8f74ef887e.woff) format("woff"),
    url(./1d3d8f74ef887e.ttf) format("truetype"),
    url(./1d3d8f74ef887e.svg) format("svg")
}