// 类前缀
@radio: m-radio;
// 未选中背景
@r-ubchecked-bg-color: #C5CFDC;
// 选中背景
@r-checked-bg-color: #3399FF;
// hover边框
@r-hover-bd-color: #20A0FF;
// 禁用边框
@r-disabled-bd-color: #E4E4E4;
// 禁用并且选中背景
@r-disabled-checked-bg-color: #b1b9c1;
// 禁用字体
@r-disabled-text-color: #BFBFBF;

.@{radio}{
    display: inline-block;
    position: relative;
    min-width: 18px;
    margin: 10px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;

    & input[type=radio]{
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
        margin-right: 17px;
        cursor: inherit;
        & ~ .@{radio}-bg{
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 18px;
            height: 18px;
            background: #fff;
            border: solid 1px @r-ubchecked-bg-color;
            border-radius: 18px;
            box-sizing: border-box;
            cursor: inherit;
        }
        & ~ .@{radio}-mark{
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: 9px;
            width: 0px;
            height: 0px;
            border-radius: 12px;
            background: @r-checked-bg-color;
            transition: all 0.2s ease;
            cursor: inherit;
        }
        & ~ .@{radio}-text{
            opacity: .6;
            color: inherit;
        }
        
        &:hover ~ .@{radio}-bg{
            border-color: @r-hover-bd-color;
        }
        &:checked ~ .@{radio}-bg{
            border-color: @r-checked-bg-color;
        }
        &:checked ~ .@{radio}-mark{
            top: 3px;
            left: 3px;
            width: 12px;
            height: 12px;
        }
        &:checked ~ .@{radio}-text{
            opacity: 1;
        }
        &:disabled ~ .@{radio}-bg{
            border-color: @r-disabled-bd-color !important;
            cursor: not-allowed;
        }
        &:checked:disabled ~ .@{radio}-bg{
            border-color: @r-disabled-checked-bg-color !important;
        }
        &:checked:disabled ~ .@{radio}-mark{
            background: @r-disabled-checked-bg-color !important;
            cursor: not-allowed;
        }
        &:disabled ~ .@{radio}-text{
            color: @r-disabled-text-color;
            cursor: not-allowed;
        }
    }
    .make-radio-theme(primary, #7266BA, #7266BA);
    .make-radio-theme(success, #03B976, #24D695);
    .make-radio-theme(danger, #D9534F, #E55552);
    .make-radio-theme(warning, #F0AD4E, #F0AD4E);
}
/**
* 定义主题
* @theme 主题后缀
* @r-checked-bg-color 选中背景
* @r-hover-bd-color hover边框
**/
.make-radio-theme(@theme, @r-checked-bg-color, @r-hover-bd-color) {
    &&-@{theme} input[type=radio] ~ .@{radio}-mark{
        background: @r-checked-bg-color;
    }
    &&-@{theme} input[type=radio]:hover ~ .@{radio}-bg{
        border-color: @r-hover-bd-color;
    }
    &&-@{theme} input[type=radio]:checked ~ .@{radio}-bg{
        border-color: @r-checked-bg-color;
    }
}
